<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bride </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="./../../logo.ico">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

</head>

<body>
    
    <header>
        <nav class="navbar">
            <a href="/"> <img class="logo" src="/images/logo.ico" alt="logo" height="120"> </a>
           <div class="nav-links">
             <ul>
                <li> <a href="/Selles"> Selles </a> </li>
                <li> <a href="/Brides"> Brides </a> </li>
                <li> <a href="/Accessoires_equestres"> Accessoires équestres </a> </li>
                <li> <a href="/Fauconnerie"> Fauconnerie </a></li>
                <li> <a href="/Contact"> Contact </a></li>
                <li> <a href="/Panier"> Panier </a></li>
                
             </ul>
            </div>
        </nav>
    </header>

    <section class="fiche_produit">
        <% produits.forEach(function(item) { %>

                <div class="left">
                   
                    <div class="image_produit">

                        <img src="<%= item.image %>" alt="">
                        
                    </div>
                    
                
                </div>

                <div class="right">
                    
                        <h3> <%= item.name %> </h3>
                        <div class="ligne"></div>
                        <p class="description">
                            <%= item.description %>
 

                        </p>


                    <div class="detail_prix">   
                        <p>

                            À partir de <%= item.price %> €

                        </p>
                    </div> 
 
    </section>
    <div class="boutonCommander">
        <form action="/ajouter_au_panier" method="post">
            
            <input type="hidden" name="id" value="<%= item.id %>">
            <input type="hidden" name="name" value="<%= item.name %>"> 
            <input type="hidden" name="price" value="<%= item.price %>">
            <input type="hidden" name="quantité" value="1">
            <input type="hidden" name="image" value="<%= item.image %>">
            <button type="submit" class=""> Ajouter au panier </button>
            
        </form>
        </div>

        <% }) %>



</body>

</html>